@model IEnumerable<CRM.ViewModels.Comment.GetCommentViewModels>

<div id="ShowComment">
    <div class="smart-timeline">
        <ul class="smart-timeline-list">
            @{
                if (Model.Count() > 0)
                {
                    string[] Icon = {"", "file-text", "bar-chart-o", "user", "pencil", "file-text", "bar-chart-o", "user", "pencil", "file-text",
                    "bar-chart-o", "user", "pencil", "file-text", "bar-chart-o", "user", "pencil", "file-text", "bar-chart-o", "user", "pencil",
                    "file-text", "bar-chart-o", "user", "pencil", "file-text", "bar-chart-o", "user", "pencil", "file-text", "bar-chart-o", "user", "pencil" };

                    int Count = 1;
                    foreach (var item in Model.OrderByDescending(o => o.CommentId))
                    {
                        <li style="margin-left:20px;">
                            <div class="smart-timeline-icon">
                                <i class="fa fa-@Icon[Count]"></i>
                            </div>
                            <div class="smart-timeline-time">
                                <small style="color:red;">@item.CommentDate</small>
                            </div>
                            <div class="smart-timeline-content">
                                <p><strong>@item.Title</strong></p>
                                <p>
                                    @item.Comment <br>
                                    <hr>
                                    <small><strong>โดย:</strong> <span style="color:red"> @item.CommentBy </span></small><br>
                                </p>
                                <p class="text-align-right" style="padding-right:20px;">
                                    <small><a href="Javascript:void(0)" class="delete" data-val="@item.CommentId"><i class="fa fa-eraser"></i> ลบ</a></small>
                                </p>
                            </div>
                        </li>
                        Count++;
                    }
                }
                else
                {
                    <li>
                        <div class="smart-timeline-icon">
                        </div>
                        <div class="smart-timeline-time">
                        </div>
                        <div class="smart-timeline-content">  --- ไม่มีข้อมูล --- </div>
                    </li>
                }

            }
        </ul>
    </div>
</div>